* {
    background: #0000FFFF; /* Background color (blue) */
    text-color: #FFFFFFFF; /* Text color (white) */
    border: 1px solid #FFFFFFFF; /* Border color (white) */
    padding: 5;
    scrollbar: false;
    width: 100%;
    horizontal-padding: 20;
    lines: 10;
    font: "DejaVu Sans Mono 8";
    border-radius: 5;
}

listview {
    dynamic-row-colors: true;
    markup-rows: true;
}
